*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 6px 0;
    background-color: #020520;

}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display:inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.img{
   position: relative;
   top: 1px;
   left: 20px;
   padding-top: 0px;
   display: flex;
   width: 50px;
   border-radius: 100px;
}
#abstract{
   border-radius: 15px;
   border: 2px solid white;
   margin-left: 50px;
   margin-top: -350px;
   margin-bottom: 10px;
   width: 700px; /* Adjust this value to increase the width */  
   height: 520px;
}
a{
 text-decoration: none;
 color: rgb(255, 255, 255);
}
.l{
    color: whitesmoke;
    font-style: italic;
    margin-left: 0px;
    margin-top: 0px;
}
 .container {
    margin: auto;
    background-image: linear-gradient(80deg, rgb(0, 128, 255), rgb(183, 0, 255));
   }
 .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    flex-wrap: wrap;
    color: rgb(255, 255, 255);
 }
 .row_image {
   padding-right: 20px;
 }
 .row_content {
   padding-left: 900px;
   padding-top: 200px;
 }
 .move-text {
   margin-left: 700px;
 }
 .btn{
    display: inline-block;
    background-image: linear-gradient(29deg, rgb(48, 8, 192), rgb(192, 8, 192)) ;
    color: white;
    padding: 8px 30px;
    margin: 20px;
    margin-left: 5px;
    border: 1px solid white;
    border-radius:5px;
    border-color: rgb(246, 243, 247);
    color:white;
 }
 .text{
   color: #f1f1f5;
 }
 .two{
  border-top: 4px solid rgb(255, 255, 255);
  background-image: linear-gradient(28deg, rgb(0, 80, 191), rgb(20, 0, 147)) ;
 }
 .heading{
    color: white;
    width: 80%;
    margin-left: 100px;
    padding-top: 60px;
    font-size: 30px;
 }
 .what{
    color: white;
    font-style: normal;
    font-size: 20px;
    line-height: 40px;
    text-align: inherit;
    padding-top: 50px;
    margin-left: 100px;
 }
 .h5{
   text-align: left;
   /*Adjust The Font To Preference*/
   font-style: italic;

 }

 .text{
   position: relative;
   top: 300px;
 }

 h1 {
   color: #000;
   font-size: 30px;
   font-family: 'Shadows Into Light', cursive;
 }
 h5{
   color:#000;
 }
#img4{
  margin-left: 750px;
  margin-top: -400px;
  border-radius: 20px;
  border: 3px solid black;
  border-color: rgb(0, 0, 0);
}
 h10 {
 position: absolute;
 top: 15px;
 left: 80px;
 color: #f1f1f5;
 font-size: 25px;
 }
 .captions{
  color: white;
  width: 80%;
  margin-left: 900px;
  padding-top: 70px;
  font-size: 30px;
 }
 .how{
  color: white;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: inherit;
  padding-top: 50px;
  margin-left: 690px;
 }
 #works{
  margin-left: 20px;
  margin-top: -400px;
  border-radius: 30px;
  border-radius: 20px;
  border: 3px solid white;
 }

 body{
  overflow-x: hidden;
  font-family: 'Dosis', sans-serif;
 }

 .vect{
  font-size: 10px;
  top: 80px;
  left: 12px;
 }
.aims{
  margin-left: 45px;
  color: white;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  text-align: inherit;
  padding-top: 50px;
}
#aim{
  margin-left: 700px;
  margin-top: -400px;
  border-radius: 20px;
  border: 3px solid black;
  border-color: rgb(0, 0, 0);
}
#no3 {
  margin-bottom: 20px;
}
#no4 {
  padding-bottom: 40px;
}
.topic{
  color: white;
  width: 80%;
  margin-left: 250px;
  padding-top: 60px;
  font-size: 30px;
}
.us{
  color: white;
  width: 80%;
  margin-left: 900px;
  padding-top: 70px;
  font-size: 30px;
}
.about{
  color: white;
  font-style: normal;
  font-size: 20px;
  line-height: 40px;
  padding-top: 50px;
  margin-left: 680px;
}
.aboutus{
  height: 150px;
  width: 200px;
  margin-left: 0px;
  margin-top: 0px;
 
}
#img5{
  position: absolute;
  top: 2340px;
  left: 30px;
  border-radius: 30px;
  border: 3px solid rgb(0, 0, 0); 
}

html {
  scroll-behavior: smooth;
}
.down{
  background-color: rgb(18, 16, 16);
  border-top: 4px solid rgb(255, 255, 255);
}
h6{
  font-size: 30px;
  margin-left: 90px;
  margin-top: 50px;
  color:white;
}

.div1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 40px 100px 20px 100px;
}
.div2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 300px 50px 300px;
}
.work{
  color: rgb(255, 250, 250);
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  margin-left: 15px;
  margin-top: -100px;
  font-family: 'Times New Roman', Times, serif;
}
